:root {
    --blue: rgb(
        202, 178, 207
        );
}

header {
    height: 60px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-picture {
    border-radius: 50%;
}

.container {
    max-width: 850px !important;
}

.navbar {
    background: rgba(255,255,255,.4);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--blue);

    &-brand {
        color:var(--blue);
        font-weight: 600;
        font-size: 24px !important;
        transition: .3s;

        &:hover {
            text-shadow: 0px 2px 5px var(--blue);
            color:var(--blue);
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        border-radius: 5px;
        text-decoration: none;

        span {
            padding-left: 4px;
            font-size: 18px;
            color:var(--blue);
        }

        img {
            width: 40px;
            border-radius: 50%;
        }
    }

    &__login {
        border:1px solid var(--blue);
        border-radius: 5px;
        padding: 7px 20px;
        color:var(--blue);
        font-weight: 600;
        text-decoration: none;
        transition: .3s;

        &:hover {
            background: var(--blue);
            color:white;
        }
    }
}

#upload_icon_modal {
    .change-icon {
        &__btn {
            background: var(--blue);
            color:white;
            padding: 10px;
            border-radius:5px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-weight: 700;
        }
    }
}
.mceContentBody{
    overflow-y:hidden!important;
 }
#upload_new_question_modal {
    .new-question {
        padding-top: 0 !important;

        &__type {
            display: flex;
            flex-wrap: wrap;

            .dropdown-toggle {
                margin: 0 0 15px;
                padding-bottom: 5px;
                cursor: pointer;
            }
        }

        .dropdown-item {
            padding: 8px;

            &:active {
                background: lightgrey;
                color:black;
            }
        }

        &__option {
            padding: 5px 10px;
            border:1px solid lightgrey;
            color:grey;
            cursor: pointer;
            transition: .3s;

            &-value {
                padding-left: 30px;

                &-text {
                    font-weight: 800;
                    position: relative;

                    div {
                        font-size: 20px;
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }
    }
}

// sitck footer to end
.page {
    flex-grow: 2;
}

.home {
    margin-top: -60px;

    &__title {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__register {
        text-decoration: none;
        width: auto !important;
    }
}

.footer {
    background: rgb(134, 133, 133);
    padding: 20px 0;

    &__copy {
        font-weight: 600;
        text-align: center;
    }
}

.form {
    padding-top: 50px;
    padding-bottom: 40px;
    &__author {
        padding-bottom: 50px;

        img {border-radius: 50%;width: 130px;}
    }

    &__description {
        padding: 40px 0;
    }

    &__title {
        img {width: 100%;}
    }
}

.btn-add, .btn-create ,.btn-delete{
    width: 100%;
    background-color: white;
    border:2px solid var(--blue);
    color:var(--blue);
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    transition: .3s;
    margin-top: 10px;

    &:hover {
        background: var(--blue);
        color:white;
    }
}

.question {
    scroll-margin-top: 50px;
    border:1px solid lightgrey;
    border-radius:5px;
    margin-bottom: 10px;

    &__not-set {
        border-color:red;
        box-shadow: 0px 0px 3px red;
    }


    .dropdown {
        height: 100%;
        &-menu {
            box-shadow: 0px 2px 8px lightgrey;
        }

        &-item:active {
            background: lightgrey;
            color:black;
        }
    }

    &__settings {
        display: flex;
        cursor: pointer;
        height: 100%;
        align-items: center;

        div {
            width:7px;
            height: 7px;
            border:1px solid grey;
            border-radius:50%;
            margin-right: 3px;
        }
    }

    &__text {
        padding: 10px 10px 15px;

        p {margin: 0;}
        img {width: 100%;}


        &-highlight {
            &:hover {
                cursor: pointer;
                color:grey;
            }
        }
    }

    &__delete {
        img {margin-bottom: 2px;}
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        height: 50px;
    }

    &__requirable {
        color:grey;
        font-size: 14px;
    }

    .checkbox,.radio {margin-top: 4px;}
}

.option {
    display: flex;
    flex-grow: 1;
    padding: 15px 10px;
    padding-top: 0;

    input , textarea{
        flex-grow:1;
        height: 30px;
        margin-left: 7px;
        padding: 0 4px;
        outline:none;
        border:none;
        border-bottom:1px solid transparent;
        &:focus , &:hover{
            border-bottom:1px solid var(--blue);
        }

    }
    .option__input-another {border:none !important;}

    textarea {margin-left: 0;border-bottom:1px solid var(--blue);}

    &__statistics {
        color:grey;
        font-size: 15px;
        font-weight: 600;
        padding: 4px 0;
    }

    &__unset {
        padding: 10px;

        span {
            cursor: pointer;
            font-weight: 600;
            color:red;
        }
    }

    &__scroll {
        max-height: 150px;
        overflow-y:auto;
        margin-top: 5px;
        width: 100%;
        border:1px solid lightgrey;
        border-radius: 5px;

        &-item {
            padding: 10px;
            border-bottom:1px solid lightgrey;
        }

        &-title {
            width: 100%;
            color:grey;
            font-weight: 600;
        }
    }

    &s {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;

        &__add {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            justify-content: space-between;
        }
    }

    &__another-text {
        line-height: 30px;
        margin:0;
        margin-left: 7px;
    }

    &__another-input {
        border-bottom:1px solid var(--blue) !important;
    }

    &__add {
        flex-grow: 1;
        border:1px solid var(--blue);
        color:var(--blue);
        font-weight: 700;
        padding: 7px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
        transition: .2s;

        &:first-child {margin-right: 10px;}

        &:hover {
            box-shadow: 0px 1px 5px var(--blue);
        }
    }

    &__delete {
        width: 25px;
        display: flex;
        align-items: center;
        cursor: pointer !important;
        margin-left: 10px;
        position: relative;

        &:hover {
            .cross-close {
                opacity: 1;
              }
        }
    }

    &__text {
        margin-left: 7px;
    }
}

.login , .register, .forgot-password, .restore-password, .restored-password, .profile-edit{
    min-height: calc(100vh - 60px) !important;
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color:var(--blue);
        text-decoration: none;
        font-weight: 700;

        &:hover {text-decoration: underline;color:var(--blue);}
    }

    &__title {
        padding-bottom: 10px;
    }

    &__error {
        color:red;
        font-size: 14px;
    }

    &__submit {
        margin-top: 10px;

        input {
            width: 100%;
            background: var(--blue);
            color:white;
            font-weight: 700;
            padding: 10px 15px;
            border-radius: 5px;
            border:none;
            outline: none;
            transition: .3s;

            &:hover {
                box-shadow: 0px 0px 5px var(--blue);
            }
        }
    }

    &__form {
        max-width: 500px !important;
        width: 100%;
        border: 1px solid var(--blue);
        border-radius: 5px;
        padding: 30px ;
        box-shadow: 0px 2px 10px var(--blue);
    }

    &__input {
        input {
            width: 100%;
            border:1px solid var(--blue);
            border-radius: 5px;
            padding: 10px 15px;
            transform: .2s linear;
            margin-bottom: 15px;
            outline: none;

            &:focus {
                box-shadow: 0px 0px 5px var(--blue);
            }
        }
    }
}

.register__submit {margin-bottom: 0 !important;}
.forgot-password , .restored-password{

    &__message {
        max-width: 500px !important;
        width: 100%;
        border: 1px solid var(--blue);
        border-radius: 5px;
        padding: 30px ;
        box-shadow: 0px 2px 10px var(--blue);
        text-align: center;

        span {
            font-weight: 600;
            font-size: 17px;
        }
    }
}

.login {

    &__submit {margin: 15px 0 20px;}
    &__remember-text {
        padding-left: 10px;
    }

    &__register {
        p {margin-bottom: 8px;}
    }
}

.profile {
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        img {
            width: 200px;
        }
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;

        a {
            min-width: calc(50% - 5px);
            color:white !important;
            text-decoration: none;
            text-align: center;
            background: var(--blue);
            color:white;
            font-weight: 700;
            padding: 10px 15px;
            border-radius: 5px;
            border:none;
            outline: none;
            transition: .3s;

            &:hover {
                box-shadow: 0px 0px 5px var(--blue);
            }
        }

        a:first-child {margin-right: 10px;}

        &-form {
            margin-top: 10px;
            width: 100%;
        }
    }

    &__answer {
        padding:10px;
        border-bottom:1px solid var(--blue);

        p {margin: 0;}

        &-date , &-amount{
            color:grey;
            font-size: 14px;
        }

        &-delete {
            span {
                color:red;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-text {
            padding: 10px 0;
            a {
                color: black;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    color:var(--blue);
                    text-decoration: underline;
                }
            }
        }
    }

    &__forms {
        padding-top: 40px;

        &-place {
            border:1px solid var(--blue);
            border-radius: 5px;
            max-height: 200px;
            overflow-y: auto;

            .no-answers {
                padding: 15px 10px;
                font-weight: 600;
                border-bottom: 1px solid var(--blue);
            }
        }
    }

    &-form {
        &__copy-link {
            width: auto !important;
            margin-bottom: 30px;
        }

        .controls {
            &__item {
                cursor: pointer;
                color: grey;
                position: relative;

                &.active {
                    font-weight: 600;
                    color:var(--blue);

                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        width: 100%;
                        height: 2px;
                        background: var(--blue);
                    }
                }
            }
        }
        &-question {
            &__total-amount {
                border-bottom: 1px solid lightgrey;
                padding: 10px !important;
                color:grey;
                font-weight: 600;
            }
        }

        &__tabs {
            .controls {
                padding: 15px 0;

                input {
                    height: 100%;
                    border: none;
                    border-bottom:1px solid lightgrey;
                    outline:none;

                    &:hover, &:focus {
                        border-color:var(--blue);
                    }
                }
            }
        }

        .certain-answer {
        }
    }
}

.profile-edit {
    padding-bottom: 40px;

    &__success {
        text-align: center;
        padding-bottom: 10px;
        span {
            color:rgb(64, 206, 64);
            line-height: 1;
            font-weight: 600;
            font-size: 18px;
        }
    }

    &__icon {
        text-align: center;
        img {
            width: 150px;
            height: 150px;
        }

        button {
            margin: 10px 0 20px;
            width: 100%;
            border:1px solid var(--blue);
            color:var(--blue);
            font-weight: 600;
            padding: 10px 15px;
            transition: .3s;

            &:hover {
                color:white;
                background: var(--blue);
            }
        }
    }

    &__label {
        font-size: 15px;
        color:grey;
    }
}


// adaptive
@import '_adaptive.scss';
@import '_input.scss';
@import '_cross.scss';
@import 'bootstrap_null.scss';
