:root {
  --blue: rgb(
      202, 178, 207
      );
}

header {
  height: 60px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  border-radius: 50%;
}

.container {
  max-width: 850px !important;
}

.navbar {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--blue);
}
.navbar-brand {
  color: var(--blue);
  font-weight: 600;
  font-size: 24px !important;
  transition: 0.3s;
}
.navbar-brand:hover {
  text-shadow: 0px 2px 5px var(--blue);
  color: var(--blue);
}
.navbar__profile {
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
}
.navbar__profile span {
  padding-left: 4px;
  font-size: 18px;
  color: var(--blue);
}
.navbar__profile img {
  width: 40px;
  border-radius: 50%;
}
.navbar__login {
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 7px 20px;
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.navbar__login:hover {
  background: var(--blue);
  color: white;
}

#upload_icon_modal .change-icon__btn {
  background: var(--blue);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

.mceContentBody {
  overflow-y: hidden !important;
}

#upload_new_question_modal .new-question {
  padding-top: 0 !important;
}
#upload_new_question_modal .new-question__type {
  display: flex;
  flex-wrap: wrap;
}
#upload_new_question_modal .new-question__type .dropdown-toggle {
  margin: 0 0 15px;
  padding-bottom: 5px;
  cursor: pointer;
}
#upload_new_question_modal .new-question .dropdown-item {
  padding: 8px;
}
#upload_new_question_modal .new-question .dropdown-item:active {
  background: lightgrey;
  color: black;
}
#upload_new_question_modal .new-question__option {
  padding: 5px 10px;
  border: 1px solid lightgrey;
  color: grey;
  cursor: pointer;
  transition: 0.3s;
}
#upload_new_question_modal .new-question__option-value {
  padding-left: 30px;
}
#upload_new_question_modal .new-question__option-value-text {
  font-weight: 800;
  position: relative;
}
#upload_new_question_modal .new-question__option-value-text div {
  font-size: 20px;
  position: absolute;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  flex-grow: 2;
}

.home {
  margin-top: -60px;
}
.home__title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__register {
  text-decoration: none;
  width: auto !important;
}

.footer {
  background: rgb(134, 133, 133);
  padding: 20px 0;
}
.footer__copy {
  font-weight: 600;
  text-align: center;
}

.form {
  padding-top: 50px;
  padding-bottom: 40px;
}
.form__author {
  padding-bottom: 50px;
}
.form__author img {
  border-radius: 50%;
  width: 130px;
}
.form__description {
  padding: 40px 0;
}
.form__title img {
  width: 100%;
}

.btn-add, .btn-create, .btn-delete {
  width: 100%;
  background-color: white;
  border: 2px solid var(--blue);
  color: var(--blue);
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  margin-top: 10px;
}
.btn-add:hover, .btn-create:hover, .btn-delete:hover {
  background: var(--blue);
  color: white;
}

.question {
  scroll-margin-top: 50px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
}
.question__not-set {
  border-color: red;
  box-shadow: 0px 0px 3px red;
}
.question .dropdown {
  height: 100%;
}
.question .dropdown-menu {
  box-shadow: 0px 2px 8px lightgrey;
}
.question .dropdown-item:active {
  background: lightgrey;
  color: black;
}
.question__settings {
  display: flex;
  cursor: pointer;
  height: 100%;
  align-items: center;
}
.question__settings div {
  width: 7px;
  height: 7px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 3px;
}
.question__text {
  padding: 10px 10px 15px;
}
.question__text p {
  margin: 0;
}
.question__text img {
  width: 100%;
}
.question__text-highlight:hover {
  cursor: pointer;
  color: grey;
}
.question__delete img {
  margin-bottom: 2px;
}
.question__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  height: 50px;
}
.question__requirable {
  color: grey;
  font-size: 14px;
}
.question .checkbox, .question .radio {
  margin-top: 4px;
}

.option {
  display: flex;
  flex-grow: 1;
  padding: 15px 10px;
  padding-top: 0;
}
.option input, .option textarea {
  flex-grow: 1;
  height: 30px;
  margin-left: 7px;
  padding: 0 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
}
.option input:focus, .option input:hover, .option textarea:focus, .option textarea:hover {
  border-bottom: 1px solid var(--blue);
}
.option .option__input-another {
  border: none !important;
}
.option textarea {
  margin-left: 0;
  border-bottom: 1px solid var(--blue);
}
.option__statistics {
  color: grey;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 0;
}
.option__unset {
  padding: 10px;
}
.option__unset span {
  cursor: pointer;
  font-weight: 600;
  color: red;
}
.option__scroll {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.option__scroll-item {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.option__scroll-title {
  width: 100%;
  color: grey;
  font-weight: 600;
}
.options {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.options__add {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}
.option__another-text {
  line-height: 30px;
  margin: 0;
  margin-left: 7px;
}
.option__another-input {
  border-bottom: 1px solid var(--blue) !important;
}
.option__add {
  flex-grow: 1;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: 700;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.2s;
}
.option__add:first-child {
  margin-right: 10px;
}
.option__add:hover {
  box-shadow: 0px 1px 5px var(--blue);
}
.option__delete {
  width: 25px;
  display: flex;
  align-items: center;
  cursor: pointer !important;
  margin-left: 10px;
  position: relative;
}
.option__delete:hover .cross-close {
  opacity: 1;
}
.option__text {
  margin-left: 7px;
}

.login, .register, .forgot-password, .restore-password, .restored-password, .profile-edit {
  min-height: calc(100vh - 60px) !important;
  padding: 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login a, .register a, .forgot-password a, .restore-password a, .restored-password a, .profile-edit a {
  color: var(--blue);
  text-decoration: none;
  font-weight: 700;
}
.login a:hover, .register a:hover, .forgot-password a:hover, .restore-password a:hover, .restored-password a:hover, .profile-edit a:hover {
  text-decoration: underline;
  color: var(--blue);
}
.login__title, .register__title, .forgot-password__title, .restore-password__title, .restored-password__title, .profile-edit__title {
  padding-bottom: 10px;
}
.login__error, .register__error, .forgot-password__error, .restore-password__error, .restored-password__error, .profile-edit__error {
  color: red;
  font-size: 14px;
}
.login__submit, .register__submit, .forgot-password__submit, .restore-password__submit, .restored-password__submit, .profile-edit__submit {
  margin-top: 10px;
}
.login__submit input, .register__submit input, .forgot-password__submit input, .restore-password__submit input, .restored-password__submit input, .profile-edit__submit input {
  width: 100%;
  background: var(--blue);
  color: white;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.login__submit input:hover, .register__submit input:hover, .forgot-password__submit input:hover, .restore-password__submit input:hover, .restored-password__submit input:hover, .profile-edit__submit input:hover {
  box-shadow: 0px 0px 5px var(--blue);
}
.login__form, .register__form, .forgot-password__form, .restore-password__form, .restored-password__form, .profile-edit__form {
  max-width: 500px !important;
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 2px 10px var(--blue);
}
.login__input input, .register__input input, .forgot-password__input input, .restore-password__input input, .restored-password__input input, .profile-edit__input input {
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 10px 15px;
  transform: 0.2s linear;
  margin-bottom: 15px;
  outline: none;
}
.login__input input:focus, .register__input input:focus, .forgot-password__input input:focus, .restore-password__input input:focus, .restored-password__input input:focus, .profile-edit__input input:focus {
  box-shadow: 0px 0px 5px var(--blue);
}

.register__submit {
  margin-bottom: 0 !important;
}

.forgot-password__message, .restored-password__message {
  max-width: 500px !important;
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 2px 10px var(--blue);
  text-align: center;
}
.forgot-password__message span, .restored-password__message span {
  font-weight: 600;
  font-size: 17px;
}

.login__submit {
  margin: 15px 0 20px;
}
.login__remember-text {
  padding-left: 10px;
}
.login__register p {
  margin-bottom: 8px;
}

.profile {
  padding-top: 40px;
  padding-bottom: 40px;
}
.profile__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.profile__title img {
  width: 200px;
}
.profile__controls {
  display: flex;
  flex-wrap: wrap;
}
.profile__controls a {
  min-width: calc(50% - 5px);
  color: white !important;
  text-decoration: none;
  text-align: center;
  background: var(--blue);
  color: white;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.profile__controls a:hover {
  box-shadow: 0px 0px 5px var(--blue);
}
.profile__controls a:first-child {
  margin-right: 10px;
}
.profile__controls-form {
  margin-top: 10px;
  width: 100%;
}
.profile__answer {
  padding: 10px;
  border-bottom: 1px solid var(--blue);
}
.profile__answer p {
  margin: 0;
}
.profile__answer-date, .profile__answer-amount {
  color: grey;
  font-size: 14px;
}
.profile__answer-delete span {
  color: red;
  font-weight: 600;
  cursor: pointer;
}
.profile__answer-delete span:hover {
  text-decoration: underline;
}
.profile__answer-text {
  padding: 10px 0;
}
.profile__answer-text a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.profile__answer-text a:hover {
  color: var(--blue);
  text-decoration: underline;
}
.profile__forms {
  padding-top: 40px;
}
.profile__forms-place {
  border: 1px solid var(--blue);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}
.profile__forms-place .no-answers {
  padding: 15px 10px;
  font-weight: 600;
  border-bottom: 1px solid var(--blue);
}
.profile-form__copy-link {
  width: auto !important;
  margin-bottom: 30px;
}
.profile-form .controls__item {
  cursor: pointer;
  color: grey;
  position: relative;
}
.profile-form .controls__item.active {
  font-weight: 600;
  color: var(--blue);
}
.profile-form .controls__item.active:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--blue);
}
.profile-form-question__total-amount {
  border-bottom: 1px solid lightgrey;
  padding: 10px !important;
  color: grey;
  font-weight: 600;
}
.profile-form__tabs .controls {
  padding: 15px 0;
}
.profile-form__tabs .controls input {
  height: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
}
.profile-form__tabs .controls input:hover, .profile-form__tabs .controls input:focus {
  border-color: var(--blue);
}
.profile-edit {
  padding-bottom: 40px;
}
.profile-edit__success {
  text-align: center;
  padding-bottom: 10px;
}
.profile-edit__success span {
  color: rgb(64, 206, 64);
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.profile-edit__icon {
  text-align: center;
}
.profile-edit__icon img {
  width: 150px;
  height: 150px;
}
.profile-edit__icon button {
  margin: 10px 0 20px;
  width: 100%;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: 600;
  padding: 10px 15px;
  transition: 0.3s;
}
.profile-edit__icon button:hover {
  color: white;
  background: var(--blue);
}
.profile-edit__label {
  font-size: 15px;
  color: grey;
}

@media screen and (max-width: 576px) {
  .option__add {
    max-width: 100% !important;
    width: 100%;
  }
  .option__add:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .question__controls .d-flex {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .login__form {
    padding: 20px !important;
  }
  .profile__controls a {
    width: 100% !important;
    margin-right: 0 !important;
    margin-top: 10px;
  }
}
/* Customize the label (the radio) */
.radio {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radio .checkmark {
  outline: 1px solid var(--blue);
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: var(--blue);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
}

/* Customize the label (the checkbox) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox .checkmark {
  outline: 1px solid var(--blue);
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: var(--blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cross-close {
  position: absolute;
  right: 16px;
  top: 8px;
  width: 16px;
  height: 32px;
  opacity: 0.3;
}

.cross-close:before, .cross-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 17px;
  width: 2px;
  background-color: #333;
}

.cross-close:before {
  transform: rotate(45deg);
}

.cross-close:after {
  transform: rotate(-45deg);
}

button {
  box-shadow: none !important;
  outline: none !important;
}

body {
  background: red;
}

.modal-content {
  border: none !important;
  border-radius: 10px !important;
  min-height: 150px;
}
.modal-header {
  border: none !important;
}
.modal-footer {
  padding: 10px 0 0 0 !important;
  border: none !important;
}
.modal-footer button {
  color: rgb(71, 71, 71);
  background: none;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s;
}
.modal-close-footer:hover {
  color: #E9424D !important;
}
.modal-send-footer:hover {
  color: #2C9B42 !important;
}

.accordion button {
  color: black !important;
  background: none !important;
}
.accordion button:after {
  background: url() !important;
}
.accordion-item {
  border: none !important;
}

.navbar {
  transition: 0.3s;
}
.navbar .collapse {
  justify-content: flex-end;
  transition: 3s !important;
}
.navbar .nav-link {
  transition: 0.3s;
}
.navbar .nav-link.active {
  color: white !important;
}
.navbar-toggler {
  position: relative;
  width: 30px;
  height: 20px;
  box-shadow: none !important;
  border: none !important;
  margin-left: 4px;
}
.navbar-toggler._active .bar-1 {
  transform: rotate(45deg);
  top: 50%;
}
.navbar-toggler._active .bar-2 {
  transform: scale(0);
}
.navbar-toggler._active .bar-3 {
  transform: rotate(-45deg);
  top: 50%;
}
.navbar-toggler .bar {
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  transition: 0.2s;
}
.navbar-toggler .bar-1 {
  top: 0px;
}
.navbar-toggler .bar-2 {
  top: 50%;
}
.navbar-toggler .bar-3 {
  top: 100%;
}
.navbar-top {
  background: transparent;
  padding-top: 30px !important;
}
.navbar-scrolled {
  background: red;
  padding-top: 10px !important;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px black;
}/*# sourceMappingURL=style.css.map */