:root {
    --blue: rgb(
        202, 178, 207
        );
}
body {
    min-height: 100vh;
}

.container {
    max-width: 850px !important;
}
#upload_icon_modal {
    .change-icon {
        &__btn {
            background: var(--blue);
            color:white;
            padding: 10px;
            border-radius:5px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-weight: 700;
        }
    }
}
.mceContentBody{
    overflow-y:hidden!important;
 }
#upload_new_question_modal {
    .new-question {
        padding-top: 0 !important;

        &__type {
            display: flex;
            flex-wrap: wrap;

            .dropdown-toggle {
                margin: 0 0 15px;
                padding-bottom: 5px;
                cursor: pointer;
            }
        }

        .dropdown-item {
            padding: 8px;

            &:active {
                background: lightgrey;
                color:black;
            }
        }

        &__option {
            padding: 5px 10px;
            border:1px solid lightgrey;
            color:grey;
            cursor: pointer;
            transition: .3s;

            &-value {
                padding-left: 30px;

                &-text {
                    font-weight: 800;
                    position: relative;

                    div {
                        font-size: 20px;
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }
    }
}

.question {
    border:1px solid lightgrey;
    border-radius:5px;
    margin-bottom: 10px;

    .dropdown {
        height: 100%;
        &-menu {
            box-shadow: 0px 2px 8px lightgrey;
        }

        &-item:active {
            background: lightgrey;
            color:black;
        }
    }

    &__settings {
        display: flex;
        cursor: pointer;
        height: 100%;
        align-items: center;

        div {
            width:7px;
            height: 7px;
            border:1px solid grey;
            border-radius:50%;
            margin-right: 3px;
        }
    }

    &__text {
        padding: 10px;
    }

    &__delete {
        img {margin-bottom: 2px;}
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        height: 50px;
    }

    &__requirable {
        color:grey;
        font-size: 14px;
    }

    .checkbox,.radio {margin-top: 4px;}
}

.option {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    padding-bottom: 0;

    input {
        flex-grow:1;
        height: 30px;
        margin-left: 7px;
        padding: 0 4px;
        outline:none;
        border:none;
        border-bottom:1px solid transparent;
        &:focus  {
            border-bottom:1px solid var(--blue);
        }
    }

    &s {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;

        &__add {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 10px 10px;
            justify-content: space-between;
        }
    }

    &__add {
        flex-grow: 1;
        border:1px solid lightgrey;
        color:grey;
        padding: 7px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
        transition: .2s;

        &:first-child {margin-right: 10px;}

        &:hover {
            box-shadow: 0px 1px 5px var(--blue);
        }
    }

    &__delete {
        width: 25px;
        display: flex;
        align-items: center;
        cursor: pointer !important;
        margin-left: 10px;
        position: relative;

        &:hover {
            .cross-close {
                opacity: 1;
              }
        }
    }
}

.login , .register, .forgot-password, .restore-password, .restored-password, .profile-edit{
    min-height: 100vh !important;
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color:var(--blue);
        text-decoration: none;
        font-weight: 700;

        &:hover {text-decoration: underline;color:var(--blue);}
    }

    &__title {
        padding-bottom: 10px;
    }

    &__error {
        color:red;
        font-size: 14px;
    }

    &__submit {
        margin-top: 10px;

        input {
            width: 100%;
            background: var(--blue);
            color:white;
            font-weight: 700;
            padding: 10px 15px;
            border-radius: 5px;
            border:none;
            outline: none;
            transition: .3s;

            &:hover {
                box-shadow: 0px 0px 5px var(--blue);
            }
        }
    }

    &__form {
        max-width: 500px !important;
        width: 100%;
        border: 1px solid var(--blue);
        border-radius: 5px;
        padding: 30px ;
        box-shadow: 0px 2px 10px var(--blue);
    }

    &__input {
        input {
            width: 100%;
            border:1px solid var(--blue);
            border-radius: 5px;
            padding: 10px 15px;
            transform: .2s linear;
            margin-bottom: 15px;
            outline: none;

            &:focus {
                box-shadow: 0px 0px 5px var(--blue);
            }
        }
    }
}

.register__submit {margin-bottom: 0 !important;}
.forgot-password , .restored-password{

    &__message {
        max-width: 500px !important;
        width: 100%;
        border: 1px solid var(--blue);
        border-radius: 5px;
        padding: 30px ;
        box-shadow: 0px 2px 10px var(--blue);
        text-align: center;

        span {
            font-weight: 600;
            font-size: 17px;
        }
    }
}

.login {

    &__submit {margin: 15px 0 20px;}
    &__remember-text {
        padding-left: 10px;
    }

    &__register {
        p {margin-bottom: 8px;}
    }
}

.profile-edit {
    &__success {
        text-align: center;
        padding-bottom: 10px;
        span {
            color:rgb(64, 206, 64);
            line-height: 1;
            font-weight: 600;
            font-size: 18px;
        }
    }

    &__icon {
        text-align: center;
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        button {
            margin: 10px 0 20px;
            width: 100%;
            border:1px solid var(--blue);
            color:var(--blue);
            font-weight: 600;
            padding: 10px 15px;
            transition: .3s;

            &:hover {
                color:white;
                background: var(--blue);
            }
        }
    }

    &__label {
        font-size: 15px;
        color:grey;
    }
}


// adaptive
@import '_adaptive.scss';
@import '_input.scss';
@import '_cross.scss';
@import 'bootstrap_null.scss';
